/.vscode
/bin/BNMO
/bin/BNMO.exe
/bin/gametest
/bin/gametest.exe
/bin/arraytest
/bin/arraytest.exe
/bin/matrikstest
/bin/matrikstest.exe
/bin/queuetest
/bin/queuetest.exe
/bin/mesinkatatest
/bin/mesinkatatest.exe
/bin/mesinkaraktertest
/bin/mesinkaraktertest.exe
/bin/stacktest
/bin/stacktest.exe
/bin/linkedlisttest
/bin/linkedlisttest.exe
/bin/maptest
/bin/maptest.exe
/bin/settest
/bin/settest.exe