/.vscode
/bin/BNMO
/bin/BNMO.exe
/bin/arraytest
/bin/arraytest.exe
/bin/listliniertest
/bin/listliniertest.exe
/bin/maptest
/bin/maptest.exe
/bin/matrikstest
/bin/matrikstest.exe
/bin/mesinkaraktertest
/bin/mesinkaraktertest.exe
/bin/mesinkatatest
/bin/mesinkatatest.exe
/bin/queuetest
/bin/queuetest.exe
/bin/settest
/bin/settest.exe
/bin/stacktest
/bin/stacktest.exe
/bin/treetest
/bin/treetest.exe